.toast {
  position: fixed;
  z-index: 999;
  padding:1rem;
  right: 1rem;
  top: 1rem;
  color: #f8f9fa;
  background-color: #343a40;
  transform: translateY(-1rem);
  transition: 0.3s ease;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  &.showing,&.show {
    transform: translateY(0);
  }
}
